flows/12.conversa.json
[
    {
        "id": "f64b6cbe.5695b",
        "type": "tab",
        "label": "Conversa bueno",
        "disabled": false,
        "info": ""
    },
    {
        "id": "683a1421.6aa7bc",
        "type": "tjbot-converse",
        "z": "f64b6cbe.5695b",
        "botId": "65d085a1.ccc73c",
        "name": "",
        "x": 520,
        "y": 500,
        "wires": [
            [
                "898b22e4.d22fa",
                "e44edab8.005188"
            ]
        ]
    },
    {
        "id": "78c29b40.221474",
        "type": "debug",
        "z": "f64b6cbe.5695b",
        "name": "dialogo",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 900,
        "y": 580,
        "wires": []
    },
    {
        "id": "c4c3fa6c.f19768",
        "type": "tjbot-listen",
        "z": "f64b6cbe.5695b",
        "botId": "65d085a1.ccc73c",
        "name": "",
        "x": 330,
        "y": 500,
        "wires": [
            [
                "683a1421.6aa7bc",
                "7583f84d.041af8",
                "f1fa5914.14bcf8"
            ]
        ]
    },
    {
        "id": "7583f84d.041af8",
        "type": "debug",
        "z": "f64b6cbe.5695b",
        "name": "reconocido",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 550,
        "y": 580,
        "wires": []
    },
    {
        "id": "e52c9d71.3545e",
        "type": "inject",
        "z": "f64b6cbe.5695b",
        "name": "",
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 400,
        "wires": [
            [
                "55a9bcad.6b8fa4"
            ]
        ]
    },
    {
        "id": "f1fa5914.14bcf8",
        "type": "function",
        "z": "f64b6cbe.5695b",
        "name": "pausa",
        "func": "msg.reset = 1;\nmsg.mode = \"pause\";\nmsg.color = \"Black\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "c4c3fa6c.f19768",
                "1843171f.b9b099",
                "d7d5eb35.ddbbb8"
            ]
        ]
    },
    {
        "id": "aed098c6.ae05c8",
        "type": "function",
        "z": "f64b6cbe.5695b",
        "name": "sigue",
        "func": "// if( msg.response.object.intents[0].intent == \"Adios\") {\n// if( msg.response.object.output.nodes_visited[0] == \"Bienvenido\") {\n// var nodos = ['adios', 'restart'];\nif( msg.response.object.context.nodo == \"bienvenido\") {\n    msg.mode = \"start\"; \n    msg.color = \"Green\";\n} \n//else if( msg.response.object.output.nodes_visited[0] == \"Adios\") {\n//else if( msg.response.object.context.nodo == \"adios\") {\n// else if( nodos.indexOf(msg.response.object.context.nodo) !== -1 || typeof(msg.response.object.context.nodo) == 'undefined') {\nelse if( msg.response.object.context.nodo == \"adios\" || typeof(msg.response.object.context.nodo) == 'undefined') {\n    msg.mode = \"stop\";\n    msg.motion = \"wave\";\n    msg.color = \"Black\";\n}\nelse {\n    msg.mode = \"resume\";\n    msg.color = \"Green\";\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 500,
        "wires": [
            [
                "889c6a90.e5ef68",
                "cfa5b278.53a4c",
                "efae528e.b3aaa",
                "81d02651.ecd"
            ]
        ]
    },
    {
        "id": "55a9bcad.6b8fa4",
        "type": "change",
        "z": "f64b6cbe.5695b",
        "name": "mode stop",
        "rules": [
            {
                "t": "set",
                "p": "mode",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "c4c3fa6c.f19768"
            ]
        ]
    },
    {
        "id": "898b22e4.d22fa",
        "type": "debug",
        "z": "f64b6cbe.5695b",
        "name": "conversa",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 740,
        "y": 640,
        "wires": []
    },
    {
        "id": "e44edab8.005188",
        "type": "function",
        "z": "f64b6cbe.5695b",
        "name": "une respuestas",
        "func": "msg.payload = msg.response.object.output.text.join(\" \");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 500,
        "wires": [
            [
                "78c29b40.221474",
                "65fa200e.c664d"
            ]
        ]
    },
    {
        "id": "65fa200e.c664d",
        "type": "tjbot-speak",
        "z": "f64b6cbe.5695b",
        "botId": "65d085a1.ccc73c",
        "mode": "speak",
        "payload": "",
        "name": "",
        "x": 930,
        "y": 500,
        "wires": [
            [
                "829c250b.656d08",
                "aed098c6.ae05c8"
            ]
        ]
    },
    {
        "id": "5d6b552b.7df72c",
        "type": "comment",
        "z": "f64b6cbe.5695b",
        "name": "Dependencies: micropi, snowboy, tjbot",
        "info": "Nodos necesarios para ejecutar este flujo\nque no vienen \"de serie\":\n--------------\nNodo \"Micro Pi\" (node-red-contrib-micropi)\nFormas de instalar: \n1) desde linea de comandos:\n  $ cd ~/.node-red\n  $ sudo npm install node-red-contrib-micropi\ny reiniciar el servicio Node-RED\n\n2) Instalarlo desde Node-RED (Manage palette)\n--------------\nNodo \"Snowboy\" (node-red-contrib-snowboy)\n\nOJO: antes, instalar atlas matrix computinglibrary:\n $ sudo apt-get -y install libatlas-base-dev\n(hace falta para snowboy)\n\nFormas de instalar: \n1) desde linea de comandos:\n  $ cd ~/.node-red\n  $ sudo npm install node-red-contrib-snowboy\ny reiniciar el servicio Node-RED\n\n2) Instalarlo desde Node-RED (Manage palette)\n--------------\n",
        "x": 150,
        "y": 20,
        "wires": []
    },
    {
        "id": "5d68e33e.f4288c",
        "type": "inject",
        "z": "f64b6cbe.5695b",
        "name": "Activa deteccion de hotword",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "20",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "6c60facd.4e6754",
                "37bd8387.f90c0c"
            ]
        ]
    },
    {
        "id": "1dc9a54b.2cf6db",
        "type": "inject",
        "z": "f64b6cbe.5695b",
        "name": "Desactiva deteccion de hotword",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "3f490b3.8f269f4"
            ]
        ]
    },
    {
        "id": "8d420772.afe2d8",
        "type": "microPi",
        "z": "f64b6cbe.5695b",
        "name": "microPi",
        "filename": "/dev/null",
        "domain": "http://localhost:1880/getAudio",
        "rate": "16000",
        "bitwidth": "16",
        "endian": "little",
        "encoding": "signed-integer",
        "channels": "1",
        "silence": "4",
        "debug": "false",
        "mode": "",
        "x": 700,
        "y": 200,
        "wires": [
            [
                "3132ea97.d2dc56"
            ],
            [],
            []
        ]
    },
    {
        "id": "3f490b3.8f269f4",
        "type": "change",
        "z": "f64b6cbe.5695b",
        "name": "para",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 140,
        "wires": [
            [
                "8d420772.afe2d8",
                "ac80c5bd.b3d448"
            ]
        ]
    },
    {
        "id": "3132ea97.d2dc56",
        "type": "Snowboy",
        "z": "f64b6cbe.5695b",
        "name": "Hola TJBot",
        "detectorFile": "/home/pi/.node-red/node_modules/snowboy/resources/common.res",
        "models": [
            {
                "idxOutput": 0,
                "nbOutputs": 1,
                "hotwords": "",
                "sensitivity": "",
                "file": "/home/pi/misetup/para.el.flujo.pmdl"
            },
            {
                "idxOutput": 1,
                "nbOutputs": 1,
                "hotwords": "",
                "sensitivity": "",
                "file": "/home/pi/misetup/hola.tjbot.grabado.rpi.pmdl"
            }
        ],
        "multipleOutput": "true",
        "debug": "false",
        "x": 870,
        "y": 200,
        "wires": [
            [
                "3f490b3.8f269f4",
                "dad85907.d69758",
                "a6943968.1aae28"
            ],
            [
                "3f490b3.8f269f4",
                "5752087a.33b658"
            ]
        ]
    },
    {
        "id": "889c6a90.e5ef68",
        "type": "link out",
        "z": "f64b6cbe.5695b",
        "name": "escucha",
        "links": [
            "e3b50cd7.8699a"
        ],
        "x": 1175,
        "y": 540,
        "wires": []
    },
    {
        "id": "e3b50cd7.8699a",
        "type": "link in",
        "z": "f64b6cbe.5695b",
        "name": "start",
        "links": [
            "889c6a90.e5ef68"
        ],
        "x": 135,
        "y": 540,
        "wires": [
            [
                "c4c3fa6c.f19768",
                "2e924033.fa5db",
                "d7d5eb35.ddbbb8"
            ]
        ]
    },
    {
        "id": "dad85907.d69758",
        "type": "debug",
        "z": "f64b6cbe.5695b",
        "name": "vacio",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1150,
        "y": 220,
        "wires": []
    },
    {
        "id": "829c250b.656d08",
        "type": "debug",
        "z": "f64b6cbe.5695b",
        "name": "dialogo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1080,
        "y": 640,
        "wires": []
    },
    {
        "id": "1843171f.b9b099",
        "type": "trigger",
        "z": "f64b6cbe.5695b",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "10",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 250,
        "y": 740,
        "wires": [
            [
                "98877efd.b6051",
                "f1fa5914.14bcf8"
            ]
        ]
    },
    {
        "id": "2e9ca2af.1992de",
        "type": "comment",
        "z": "f64b6cbe.5695b",
        "name": "si no reconoce nada en unos segundos, envía \"adios\"",
        "info": "",
        "x": 920,
        "y": 740,
        "wires": []
    },
    {
        "id": "b0da5de.12368a",
        "type": "link in",
        "z": "f64b6cbe.5695b",
        "name": "hotword",
        "links": [
            "1dccc059.2626d"
        ],
        "x": 435,
        "y": 220,
        "wires": [
            [
                "8d420772.afe2d8",
                "6080d71b.f8ad58"
            ]
        ]
    },
    {
        "id": "cfa5b278.53a4c",
        "type": "function",
        "z": "f64b6cbe.5695b",
        "name": "activa hotword",
        "func": "if( msg.mode == \"stop\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 340,
        "wires": [
            [
                "1dccc059.2626d"
            ]
        ]
    },
    {
        "id": "1dccc059.2626d",
        "type": "link out",
        "z": "f64b6cbe.5695b",
        "name": "a hotword",
        "links": [
            "b0da5de.12368a"
        ],
        "x": 1235,
        "y": 340,
        "wires": []
    },
    {
        "id": "a5e2a507.8996c8",
        "type": "debug",
        "z": "f64b6cbe.5695b",
        "name": "trigger",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 630,
        "y": 740,
        "wires": []
    },
    {
        "id": "98877efd.b6051",
        "type": "function",
        "z": "f64b6cbe.5695b",
        "name": "envia adios",
        "func": "var newmsg = {};\nmsg = newmsg;\nmsg.payload = \"adios\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 740,
        "wires": [
            [
                "a5e2a507.8996c8",
                "683a1421.6aa7bc"
            ]
        ]
    },
    {
        "id": "2e924033.fa5db",
        "type": "switch",
        "z": "f64b6cbe.5695b",
        "name": "activa trigger",
        "property": "mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resume",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 640,
        "wires": [
            [
                "1843171f.b9b099"
            ],
            [
                "1843171f.b9b099"
            ]
        ]
    },
    {
        "id": "c1efba6c.25d8a8",
        "type": "comment",
        "z": "f64b6cbe.5695b",
        "name": "si se reconoce adios, activa hotword",
        "info": "",
        "x": 1160,
        "y": 300,
        "wires": []
    },
    {
        "id": "7a710423.adb11c",
        "type": "comment",
        "z": "f64b6cbe.5695b",
        "name": "si hay varias respuestas, las une",
        "info": "",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "3bc378ee.296c98",
        "type": "comment",
        "z": "f64b6cbe.5695b",
        "name": "detección de hotword",
        "info": "",
        "x": 800,
        "y": 260,
        "wires": []
    },
    {
        "id": "7c4c12e0.78d9fc",
        "type": "comment",
        "z": "f64b6cbe.5695b",
        "name": "parada manual",
        "info": "",
        "x": 100,
        "y": 360,
        "wires": []
    },
    {
        "id": "a4fd2d2c.33dea",
        "type": "comment",
        "z": "f64b6cbe.5695b",
        "name": "parada manual",
        "info": "",
        "x": 120,
        "y": 240,
        "wires": []
    },
    {
        "id": "6c60facd.4e6754",
        "type": "exec",
        "z": "f64b6cbe.5695b",
        "command": "/usr/bin/aplay",
        "addpay": false,
        "append": " /home/pi/audio/fraseinicial.wav",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "frase inicial",
        "x": 390,
        "y": 40,
        "wires": [
            [
                "1c11ab8d.cfa6f4"
            ],
            [
                "1c11ab8d.cfa6f4"
            ],
            [
                "1c11ab8d.cfa6f4"
            ]
        ]
    },
    {
        "id": "1c11ab8d.cfa6f4",
        "type": "debug",
        "z": "f64b6cbe.5695b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 40,
        "wires": []
    },
    {
        "id": "9c894c11.e3818",
        "type": "comment",
        "z": "f64b6cbe.5695b",
        "name": "Inicio",
        "info": "",
        "x": 90,
        "y": 120,
        "wires": []
    },
    {
        "id": "37bd8387.f90c0c",
        "type": "delay",
        "z": "f64b6cbe.5695b",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "8d420772.afe2d8",
                "6080d71b.f8ad58",
                "6978315a.82d4a"
            ]
        ]
    },
    {
        "id": "6978315a.82d4a",
        "type": "tjbot-wave",
        "z": "f64b6cbe.5695b",
        "botId": "65d085a1.ccc73c",
        "motion": "wave",
        "name": "Mover el brazo",
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "9ee9d2d7.1e20a",
        "type": "tjbot-shine",
        "z": "f64b6cbe.5695b",
        "botId": "65d085a1.ccc73c",
        "mode": "shine",
        "color": "msg.color",
        "duration": "2",
        "name": "Color",
        "x": 610,
        "y": 700,
        "wires": []
    },
    {
        "id": "efae528e.b3aaa",
        "type": "tjbot-wave",
        "z": "f64b6cbe.5695b",
        "botId": "65d085a1.ccc73c",
        "motion": "msg.motion",
        "name": "Mover el brazo",
        "x": 1240,
        "y": 440,
        "wires": []
    },
    {
        "id": "d7d5eb35.ddbbb8",
        "type": "function",
        "z": "f64b6cbe.5695b",
        "name": "color",
        "func": "var str1 =msg.color;\nvar newmsg = {};\nmsg = newmsg;\nmsg.color = str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 700,
        "wires": [
            [
                "9ee9d2d7.1e20a"
            ]
        ]
    },
    {
        "id": "c0c580ea.60986",
        "type": "tjbot-shine",
        "z": "f64b6cbe.5695b",
        "botId": "65d085a1.ccc73c",
        "mode": "pulse",
        "color": "blue",
        "duration": "1.5",
        "name": "Pulso",
        "x": 1270,
        "y": 100,
        "wires": []
    },
    {
        "id": "966a59a5.75fc18",
        "type": "debug",
        "z": "f64b6cbe.5695b",
        "name": "led intermitente",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1160,
        "y": 20,
        "wires": []
    },
    {
        "id": "6080d71b.f8ad58",
        "type": "switch",
        "z": "f64b6cbe.5695b",
        "name": "activa trigger",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 100,
        "wires": [
            [
                "ac80c5bd.b3d448",
                "35bfb059.5671f"
            ]
        ]
    },
    {
        "id": "ac80c5bd.b3d448",
        "type": "trigger",
        "z": "f64b6cbe.5695b",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "10",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "luz intermitente",
        "x": 940,
        "y": 80,
        "wires": [
            [
                "146d84a8.c71a7b",
                "35bfb059.5671f",
                "966a59a5.75fc18"
            ]
        ]
    },
    {
        "id": "146d84a8.c71a7b",
        "type": "delay",
        "z": "f64b6cbe.5695b",
        "name": "",
        "pauseType": "delay",
        "timeout": "0",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 940,
        "y": 20,
        "wires": [
            [
                "ac80c5bd.b3d448"
            ]
        ]
    },
    {
        "id": "35bfb059.5671f",
        "type": "function",
        "z": "f64b6cbe.5695b",
        "name": "limpia",
        "func": "var newmsg = {};\nmsg = newmsg;\nmsg.payload = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 100,
        "wires": [
            [
                "c0c580ea.60986"
            ]
        ]
    },
    {
        "id": "a6943968.1aae28",
        "type": "exec",
        "z": "f64b6cbe.5695b",
        "command": "/usr/bin/aplay",
        "addpay": false,
        "append": " /home/pi/audio/parandoelflujo.wav",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "frase inicial",
        "x": 1110,
        "y": 160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5752087a.33b658",
        "type": "function",
        "z": "f64b6cbe.5695b",
        "name": "respuesta",
        "func": "msg.payload  = '';\n//msg.response = {};\n//msg.response.object = {};\n//msg.response.object.context = {}\n//msg.response.object = msg.payload;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 400,
        "wires": [
            [
                "683a1421.6aa7bc"
            ]
        ]
    },
    {
        "id": "81d02651.ecd",
        "type": "debug",
        "z": "f64b6cbe.5695b",
        "name": "sigue",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1260,
        "y": 500,
        "wires": []
    },
    {
        "id": "65d085a1.ccc73c",
        "type": "tjbot-config",
        "z": "",
        "botGender": "female",
        "name": "TJBot",
        "listen": "es-ES",
        "speak": "es-ES",
        "hasServo": true,
        "hasLED": true,
        "hasSpeaker": true,
        "hasMicrophone": true,
        "hasCamera": true,
        "speakerDeviceId": "default",
        "microphoneDeviceId": ""
    }
]