flows/12.conversa.json
[
    {
        "id": "3137609a.e1781",
        "type": "tab",
        "label": "Conversa bueno",
        "disabled": false,
        "info": ""
    },
    {
        "id": "993aa693.335068",
        "type": "tjbot-converse",
        "z": "3137609a.e1781",
        "botId": "1869083a.667d98",
        "name": "",
        "x": 520,
        "y": 500,
        "wires": [
            [
                "94923d2b.71b0f",
                "d0eacdab.32da2"
            ]
        ]
    },
    {
        "id": "f3a38b17.f250a8",
        "type": "debug",
        "z": "3137609a.e1781",
        "name": "dialogo",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 900,
        "y": 580,
        "wires": []
    },
    {
        "id": "c2686b52.207ed8",
        "type": "tjbot-listen",
        "z": "3137609a.e1781",
        "botId": "1869083a.667d98",
        "name": "",
        "x": 330,
        "y": 500,
        "wires": [
            [
                "993aa693.335068",
                "7c71589b.f8ceb8",
                "37317e6c.648472"
            ]
        ]
    },
    {
        "id": "7c71589b.f8ceb8",
        "type": "debug",
        "z": "3137609a.e1781",
        "name": "reconocido",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 550,
        "y": 580,
        "wires": []
    },
    {
        "id": "9e243865.5cef48",
        "type": "inject",
        "z": "3137609a.e1781",
        "name": "",
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 400,
        "wires": [
            [
                "91f9106c.ae6a6"
            ]
        ]
    },
    {
        "id": "37317e6c.648472",
        "type": "function",
        "z": "3137609a.e1781",
        "name": "pausa",
        "func": "msg.reset = 1;\nmsg.mode = \"pause\";\nmsg.color = \"Black\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "c2686b52.207ed8",
                "450362c.da2949c",
                "e6623b87.d23598"
            ]
        ]
    },
    {
        "id": "90e80c74.6955e",
        "type": "function",
        "z": "3137609a.e1781",
        "name": "sigue",
        "func": "// if( msg.response.object.intents[0].intent == \"Adios\") {\n// if( msg.response.object.output.nodes_visited[0] == \"Bienvenido\") {\n// var nodos = ['adios', 'restart'];\nif( msg.response.object.context.nodo == \"bienvenido\") {\n    msg.mode = \"start\"; \n    msg.color = \"Green\";\n} \n//else if( msg.response.object.output.nodes_visited[0] == \"Adios\") {\n//else if( msg.response.object.context.nodo == \"adios\") {\n// else if( nodos.indexOf(msg.response.object.context.nodo) !== -1 || typeof(msg.response.object.context.nodo) == 'undefined') {\nelse if( msg.response.object.context.nodo == \"adios\" || typeof(msg.response.object.context.nodo) == 'undefined') {\n    msg.mode = \"stop\";\n    msg.motion = \"wave\";\n    msg.color = \"Black\";\n}\nelse {\n    msg.mode = \"resume\";\n    msg.color = \"Green\";\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 500,
        "wires": [
            [
                "4fa3c80b.a115d8",
                "bdd1f572.c8c9d8",
                "332ec16d.cdb52e",
                "1f1abbc4.143ac4"
            ]
        ]
    },
    {
        "id": "91f9106c.ae6a6",
        "type": "change",
        "z": "3137609a.e1781",
        "name": "mode stop",
        "rules": [
            {
                "t": "set",
                "p": "mode",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "c2686b52.207ed8"
            ]
        ]
    },
    {
        "id": "94923d2b.71b0f",
        "type": "debug",
        "z": "3137609a.e1781",
        "name": "conversa",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 740,
        "y": 640,
        "wires": []
    },
    {
        "id": "d0eacdab.32da2",
        "type": "function",
        "z": "3137609a.e1781",
        "name": "une respuestas",
        "func": "msg.payload = msg.response.object.output.text.join(\" \");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 500,
        "wires": [
            [
                "f3a38b17.f250a8",
                "2270aacc.ee7fd6"
            ]
        ]
    },
    {
        "id": "2270aacc.ee7fd6",
        "type": "tjbot-speak",
        "z": "3137609a.e1781",
        "botId": "1869083a.667d98",
        "mode": "speak",
        "payload": "",
        "name": "",
        "x": 930,
        "y": 500,
        "wires": [
            [
                "5ca1f02d.0fc47",
                "90e80c74.6955e"
            ]
        ]
    },
    {
        "id": "342d9e4.ae4ca62",
        "type": "comment",
        "z": "3137609a.e1781",
        "name": "Dependencies: micropi, snowboy, tjbot",
        "info": "Nodos necesarios para ejecutar este flujo\nque no vienen \"de serie\":\n--------------\nNodo \"Micro Pi\" (node-red-contrib-micropi)\nFormas de instalar: \n1) desde linea de comandos:\n  $ cd ~/.node-red\n  $ sudo npm install node-red-contrib-micropi\ny reiniciar el servicio Node-RED\n\n2) Instalarlo desde Node-RED (Manage palette)\n--------------\nNodo \"Snowboy\" (node-red-contrib-snowboy)\n\nOJO: antes, instalar atlas matrix computinglibrary:\n $ sudo apt-get -y install libatlas-base-dev\n(hace falta para snowboy)\n\nFormas de instalar: \n1) desde linea de comandos:\n  $ cd ~/.node-red\n  $ sudo npm install node-red-contrib-snowboy\ny reiniciar el servicio Node-RED\n\n2) Instalarlo desde Node-RED (Manage palette)\n--------------\n",
        "x": 150,
        "y": 20,
        "wires": []
    },
    {
        "id": "6e90aa9f.d701a4",
        "type": "inject",
        "z": "3137609a.e1781",
        "name": "Activa deteccion de hotword",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "20",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "3b49145a.e4fb5c",
                "6e50f4ad.3df16c"
            ]
        ]
    },
    {
        "id": "b95b7da9.5914c",
        "type": "inject",
        "z": "3137609a.e1781",
        "name": "Desactiva deteccion de hotword",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "25bc1da7.ebd042"
            ]
        ]
    },
    {
        "id": "4f6fdd31.f953b4",
        "type": "microPi",
        "z": "3137609a.e1781",
        "name": "microPi",
        "filename": "/dev/null",
        "domain": "http://localhost:1880/getAudio",
        "rate": "16000",
        "bitwidth": "16",
        "endian": "little",
        "encoding": "signed-integer",
        "channels": "1",
        "silence": "4",
        "debug": "false",
        "mode": "",
        "x": 700,
        "y": 200,
        "wires": [
            [
                "6a27408f.950a4"
            ],
            [],
            []
        ]
    },
    {
        "id": "25bc1da7.ebd042",
        "type": "change",
        "z": "3137609a.e1781",
        "name": "para",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 140,
        "wires": [
            [
                "4f6fdd31.f953b4",
                "13f49e4e.74efb2"
            ]
        ]
    },
    {
        "id": "4fa3c80b.a115d8",
        "type": "link out",
        "z": "3137609a.e1781",
        "name": "escucha",
        "links": [
            "789144f.93375bc"
        ],
        "x": 1175,
        "y": 540,
        "wires": []
    },
    {
        "id": "789144f.93375bc",
        "type": "link in",
        "z": "3137609a.e1781",
        "name": "start",
        "links": [
            "4fa3c80b.a115d8"
        ],
        "x": 135,
        "y": 540,
        "wires": [
            [
                "c2686b52.207ed8",
                "2fea385c.b789d8",
                "e6623b87.d23598"
            ]
        ]
    },
    {
        "id": "4d1ef20b.1af5bc",
        "type": "debug",
        "z": "3137609a.e1781",
        "name": "vacio",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1150,
        "y": 220,
        "wires": []
    },
    {
        "id": "5ca1f02d.0fc47",
        "type": "debug",
        "z": "3137609a.e1781",
        "name": "dialogo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1080,
        "y": 640,
        "wires": []
    },
    {
        "id": "450362c.da2949c",
        "type": "trigger",
        "z": "3137609a.e1781",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "10",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 250,
        "y": 740,
        "wires": [
            [
                "130a44f5.25522b",
                "37317e6c.648472"
            ]
        ]
    },
    {
        "id": "35a7fcdb.768544",
        "type": "comment",
        "z": "3137609a.e1781",
        "name": "si no reconoce nada en unos segundos, envía \"adios\"",
        "info": "",
        "x": 920,
        "y": 740,
        "wires": []
    },
    {
        "id": "31354602.53f2ba",
        "type": "link in",
        "z": "3137609a.e1781",
        "name": "hotword",
        "links": [
            "780599ea.4ad3e8"
        ],
        "x": 435,
        "y": 220,
        "wires": [
            [
                "4f6fdd31.f953b4",
                "886ee18d.bdd4d"
            ]
        ]
    },
    {
        "id": "bdd1f572.c8c9d8",
        "type": "function",
        "z": "3137609a.e1781",
        "name": "activa hotword",
        "func": "if( msg.mode == \"stop\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 340,
        "wires": [
            [
                "780599ea.4ad3e8"
            ]
        ]
    },
    {
        "id": "780599ea.4ad3e8",
        "type": "link out",
        "z": "3137609a.e1781",
        "name": "a hotword",
        "links": [
            "31354602.53f2ba"
        ],
        "x": 1235,
        "y": 340,
        "wires": []
    },
    {
        "id": "1113c7aa.7e7fb8",
        "type": "debug",
        "z": "3137609a.e1781",
        "name": "trigger",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 630,
        "y": 740,
        "wires": []
    },
    {
        "id": "130a44f5.25522b",
        "type": "function",
        "z": "3137609a.e1781",
        "name": "envia adios",
        "func": "var newmsg = {};\nmsg = newmsg;\nmsg.payload = \"adios\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 740,
        "wires": [
            [
                "1113c7aa.7e7fb8",
                "993aa693.335068"
            ]
        ]
    },
    {
        "id": "2fea385c.b789d8",
        "type": "switch",
        "z": "3137609a.e1781",
        "name": "activa trigger",
        "property": "mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resume",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 640,
        "wires": [
            [
                "450362c.da2949c"
            ],
            [
                "450362c.da2949c"
            ]
        ]
    },
    {
        "id": "4b6604ef.c1666c",
        "type": "comment",
        "z": "3137609a.e1781",
        "name": "si se reconoce adios, activa hotword",
        "info": "",
        "x": 1160,
        "y": 300,
        "wires": []
    },
    {
        "id": "466aea46.875e54",
        "type": "comment",
        "z": "3137609a.e1781",
        "name": "si hay varias respuestas, las une",
        "info": "",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "5d43b8a1.415d78",
        "type": "comment",
        "z": "3137609a.e1781",
        "name": "detección de hotword",
        "info": "",
        "x": 800,
        "y": 260,
        "wires": []
    },
    {
        "id": "ebd4c5e2.0f6038",
        "type": "comment",
        "z": "3137609a.e1781",
        "name": "parada manual",
        "info": "",
        "x": 100,
        "y": 360,
        "wires": []
    },
    {
        "id": "fd8df896.382f48",
        "type": "comment",
        "z": "3137609a.e1781",
        "name": "parada manual",
        "info": "",
        "x": 120,
        "y": 240,
        "wires": []
    },
    {
        "id": "3b49145a.e4fb5c",
        "type": "exec",
        "z": "3137609a.e1781",
        "command": "/usr/bin/aplay",
        "addpay": false,
        "append": " /home/pi/audio/fraseinicial.wav",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "frase inicial",
        "x": 390,
        "y": 40,
        "wires": [
            [
                "f3b7994.f0b0e68"
            ],
            [
                "f3b7994.f0b0e68"
            ],
            [
                "f3b7994.f0b0e68"
            ]
        ]
    },
    {
        "id": "f3b7994.f0b0e68",
        "type": "debug",
        "z": "3137609a.e1781",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 40,
        "wires": []
    },
    {
        "id": "373db007.68523",
        "type": "comment",
        "z": "3137609a.e1781",
        "name": "Inicio",
        "info": "",
        "x": 90,
        "y": 120,
        "wires": []
    },
    {
        "id": "6e50f4ad.3df16c",
        "type": "delay",
        "z": "3137609a.e1781",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "4f6fdd31.f953b4",
                "886ee18d.bdd4d",
                "933e5195.1334d"
            ]
        ]
    },
    {
        "id": "933e5195.1334d",
        "type": "tjbot-wave",
        "z": "3137609a.e1781",
        "botId": "1869083a.667d98",
        "motion": "wave",
        "name": "Mover el brazo",
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "1690a3d8.e6604c",
        "type": "tjbot-shine",
        "z": "3137609a.e1781",
        "botId": "1869083a.667d98",
        "mode": "shine",
        "color": "msg.color",
        "duration": "2",
        "name": "Color",
        "x": 610,
        "y": 700,
        "wires": []
    },
    {
        "id": "332ec16d.cdb52e",
        "type": "tjbot-wave",
        "z": "3137609a.e1781",
        "botId": "1869083a.667d98",
        "motion": "msg.motion",
        "name": "Mover el brazo",
        "x": 1240,
        "y": 440,
        "wires": []
    },
    {
        "id": "e6623b87.d23598",
        "type": "function",
        "z": "3137609a.e1781",
        "name": "color",
        "func": "var str1 =msg.color;\nvar newmsg = {};\nmsg = newmsg;\nmsg.color = str1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 700,
        "wires": [
            [
                "1690a3d8.e6604c"
            ]
        ]
    },
    {
        "id": "f393f04d.cb2c8",
        "type": "tjbot-shine",
        "z": "3137609a.e1781",
        "botId": "1869083a.667d98",
        "mode": "pulse",
        "color": "blue",
        "duration": "1.5",
        "name": "Pulso",
        "x": 1270,
        "y": 100,
        "wires": []
    },
    {
        "id": "bd5e1751.a24e98",
        "type": "debug",
        "z": "3137609a.e1781",
        "name": "led intermitente",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1160,
        "y": 20,
        "wires": []
    },
    {
        "id": "886ee18d.bdd4d",
        "type": "switch",
        "z": "3137609a.e1781",
        "name": "activa trigger",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 100,
        "wires": [
            [
                "13f49e4e.74efb2",
                "5a36fdde.0c5c04"
            ]
        ]
    },
    {
        "id": "13f49e4e.74efb2",
        "type": "trigger",
        "z": "3137609a.e1781",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "10",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "luz intermitente",
        "x": 940,
        "y": 80,
        "wires": [
            [
                "a771707a.2f137",
                "5a36fdde.0c5c04",
                "bd5e1751.a24e98"
            ]
        ]
    },
    {
        "id": "a771707a.2f137",
        "type": "delay",
        "z": "3137609a.e1781",
        "name": "",
        "pauseType": "delay",
        "timeout": "0",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 940,
        "y": 20,
        "wires": [
            [
                "13f49e4e.74efb2"
            ]
        ]
    },
    {
        "id": "5a36fdde.0c5c04",
        "type": "function",
        "z": "3137609a.e1781",
        "name": "limpia",
        "func": "var newmsg = {};\nmsg = newmsg;\nmsg.payload = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 100,
        "wires": [
            [
                "f393f04d.cb2c8"
            ]
        ]
    },
    {
        "id": "6996e32a.38898c",
        "type": "exec",
        "z": "3137609a.e1781",
        "command": "/usr/bin/aplay",
        "addpay": false,
        "append": " /home/pi/audio/parandoelflujo.wav",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "para el flujo",
        "x": 1110,
        "y": 160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "97158d49.d3ff5",
        "type": "function",
        "z": "3137609a.e1781",
        "name": "respuesta",
        "func": "msg.payload  = '';\n//msg.response = {};\n//msg.response.object = {};\n//msg.response.object.context = {}\n//msg.response.object = msg.payload;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 400,
        "wires": [
            [
                "993aa693.335068"
            ]
        ]
    },
    {
        "id": "1f1abbc4.143ac4",
        "type": "debug",
        "z": "3137609a.e1781",
        "name": "sigue",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1260,
        "y": 500,
        "wires": []
    },
    {
        "id": "6a27408f.950a4",
        "type": "Snowboy",
        "z": "3137609a.e1781",
        "name": "detector",
        "outputs": 2,
        "detectorFile": "/home/pi/.node-red/node_modules/snowboy/resources/common.res",
        "models": [
            {
                "idxOutput": 0,
                "nbOutputs": 1,
                "hotwords": "para",
                "sensitivity": "0.4",
                "file": "/home/pi/misetup/para.el.flujo.pmdl"
            },
            {
                "idxOutput": 1,
                "nbOutputs": 1,
                "hotwords": "hola",
                "sensitivity": "0.4",
                "file": "/home/pi/misetup/hola.tjbot.grabado.rpi.pmdl"
            }
        ],
        "multipleOutput": "true",
        "debug": "false",
        "x": 880,
        "y": 220,
        "wires": [
            [
                "6996e32a.38898c",
                "4d1ef20b.1af5bc",
                "25bc1da7.ebd042"
            ],
            [
                "97158d49.d3ff5",
                "25bc1da7.ebd042"
            ]
        ]
    },
    {
        "id": "1869083a.667d98",
        "type": "tjbot-config",
        "z": "",
        "botGender": "female",
        "name": "TJBotC",
        "listen": "es-ES",
        "speak": "es-ES",
        "hasServo": true,
        "hasLED": true,
        "hasSpeaker": true,
        "hasMicrophone": true,
        "hasCamera": true,
        "speakerDeviceId": "plughw:0,0",
        "microphoneDeviceId": "plughw:1,0",
        "aUrl": "https://gateway-lon.watsonplatform.net/assistant/api",
        "taUrl": "https://gateway-lon.watsonplatform.net/tone-analyzer/api",
        "ltUrl": "https://gateway-lon.watsonplatform.net/language-translator/api",
        "sttUrl": "https://gateway-lon.watsonplatform.net/speech-to-text/api",
        "ttsUrl": "https://gateway-lon.watsonplatform.net/text-to-speech/api",
        "vrUrl": "https://gateway.watsonplatform.net/visual-recognition/api"
    }
]